.footer{

  &__copy-right{
    font-size: 1.6rem;
    margin-top: 1rem;
  }
  &__icon{
    color: $color-white;

    i{
      text-align: center;
      height: 4.2rem;
      width: 4.2rem;
      padding-top: .8rem;
      border-radius: 50%;
      margin: .5rem;
      border: 2px solid transparent;
      color: $color-white;
      box-sizing: border-box;
      transition: all .5s;
      background: $color-black;
    }
    i:hover{
      border: 2px solid transparent;
      color: $color-white;

    }
  }
}
